<section class="container">
  <div class="login-container">
    <div class="left-container p-14">
      <div class="logo flex absolute top-2 left-2 w-16 h-16">
        <img src="../../../assets/imgs/ResiRed2.png" class="rounded aspect-video" alt="logo">
      </div>

      <form [formGroup]="loginForm" class="w-full bg-white rounded relative px-4 pt-2 pb-8 mb-4 mt-24"
        (ngSubmit)="submitLoginData()">

        <div class="login-title absolute text-[20px] -top-16 w-full">
          <h2 class="hello-text text-[#2F4858] font-normal">Hola,</h2>
          <h2 class="welcome-text text-[#2F4858] font-medium truncate">Bienvenido a ResiRed!</h2>
        </div>

        <div class="mb-4">
          <label for="email" class="block text-gray-700 text-sm font-medium mb-2">Email</label>
          <input type="text" id="email" formControlName="email" name="email" class="shadow appearance-none border rounded w-full py-2 px-3 bg-[#2F4858] text-white
                      focus:outline-none focus:ring-1 focus:ring-slate-800" placeholder="ej: person@gmail.com"
            required>

          <div class="text-container h-3.5">
            @if(email.invalid && (email.dirty || email.touched)){
            <div class="text-red-600 text-sm truncate">
              @if(email.errors?.['required']) {
              <div>Ingrese su Email</div>
              }
              @else if (email.errors?.['email']) {
              <div>Ingrese un Email con formato valido</div>
              }
            </div>
            }
          </div>

        </div>
        <div class="mb-6 relative">
          <label for="password" class="block text-gray-700 text-sm font-medium mb-2">Contraseña</label>
          <input formControlName="password" [type]="hidePassword ? 'password' : 'text'" id="password" name="password"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-white bg-[#2F4858]
                      focus:outline-none focus:ring-1 focus:ring-slate-800" placeholder="Contraseña" required>

          <div class="text-container h-3.5">
            @if(password.invalid && (password.dirty || password.touched)){
            <div class="text-red-600 text-sm truncate">
              @if(password.errors?.['required']) {
              <div>Ingrese su contraseña</div>
              }
            </div>
            }
          </div>

          <div class="flex items-center absolute inset-y-0 right-0 pt-3.5 pr-3">
            <button class="text-slate-400" type="button" (click)="togglePasswordVisibility()"
              aria-label="Mostrar Contraseña">
              <i [class]="hidePassword ? 'far fa-eye' : 'far fa-eye-slash'"></i>
            </button>
          </div>
        </div>
        <div class="flex items-center justify-center">
          <button type="submit"
            class="sendLoginButton bg-[#355B59] hover:bg-[#0a3230] text-white font-normal py-2 px-4 rounded truncate focus:outline-none focus:shadow-outline">
            Iniciar sesión
          </button>
        </div>

        <div class="flex items-center justify-center mt-8 text-sm">
          <a class="cursor-pointer text-[#415756] hover:text-black truncate" (click)="sendEmailAndRequestCode()">¿Olvidaste tu
            contraseña?</a>
        </div>
      </form>
    </div>
    <div class="right-container">
      <img src="../../../assets/imgs/login-Wallpaper.jpg" alt="login-img" class="h-full">
    </div>
  </div>
</section>