<section class="container flex items-center justify-center min-h-screen p-4 min-w-full">
  <div class="max-w-md w-full bg-white rounded-lg shadow-md p-6">
    <h2 class="text-center text-2xl font-semibold text-gray-700 mb-4">Restablecer Contraseña</h2>
    <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm" class="space-y-6">
      <div class="input-group">
        <label for="token" class="block text-sm font-medium text-gray-700">Codigo de reestablecimiento</label>
        <input type="text" id="token" formControlName="token" required
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-cyan-800 focus:border-cyan-800">

        <div class="text-container h-2.5">
          @if(token.invalid && (token.dirty || token.touched)){
          <div class="text-red-600 text-sm truncate">
            @if(token.errors?.['required']) {
            <div>Ingrese el codigo enviado a su correo</div>
            }
            @else if (token.errors?.['minlength']) {
            <div>El codigo debe ser de 6 digitos</div>
            } @else if (token.errors?.['pattern']) {
            <div>El codigo debe ser numérico</div>
            }
          </div>
          }
        </div>
      </div>
      <div class="input-group">
        <label for="newPassword" class="block text-sm font-medium text-gray-700">Nueva Contraseña</label>
        <input type="password" id="newPassword" formControlName="newPassword" required
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-cyan-800 focus:border-cyan-800">

        <div class="text-container-password h-2.5">
          @if(newPassword.invalid && (newPassword.dirty || newPassword.touched)){
          <div class="text-red-600 text-sm">
            @if(newPassword.errors?.['required']) {
            <div>Ingrese su nueva contraseña</div>
            }
            @else if (newPassword.errors?.['minlength']) {
            <div>Debe contener almenos 8 caracteres</div>
            } @else if (newPassword.errors?.['pattern']) {
            <div>La contraseña debe incluir minúsculas, mayúsculas y números</div>
            }
          </div>
          }
        </div>
      </div>
      <div class="flex items-center justify-between">
        <button type="submit"
          class="w-full flex justify-center cursor-pointer py-2 px-4 border border-transparent rounded shadow-lg text-sm font-medium text-white bg-[#355B59] hover:bg-[#0a3230]">Restablecer
          Contraseña</button>
      </div>
      <button type="button" (click)="requestNewToken()" [disabled]="timerActive" class="mt-4 w-full flex justify-center cursor-pointer py-2 px-4 border border-transparent rounded shadow-lg text-sm font-medium text-white bg-blue-500 hover:bg-blue-700">
        Solicitar Nuevo Codigo
      </button>
      <div *ngIf="timerActive" class="text-center mt-2 text-sm">{{ timeDisplay }}</div>
    </form>
  </div>
</section>