.container {
    background-image: linear-gradient(to right top, #2f4858, #466371, #60808a, #7c9da3, #9abbbd);
}

/* Control de estados en forms */
.ng-valid:not(form).ng-touched {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form).ng-touched {
    border-left: 5px solid #841917;
}

@media (max-width: 480px) {
    .text-container-password {
        height: 1.5rem;
    }

    .text-red-600 {
        color: #dc2626;
        font-size: 0.875rem; /* 14px */
        white-space: normal; /* Permite que el texto ocupe más de una línea */
        overflow: visible;
        text-overflow: clip; /* No trunca el texto */
    }
}

/* CSS adicional para personalizar el popup de SweetAlert2 */
.custom-swal {
    font-family: Arial, sans-serif; 
    border-radius: 8px; 
  }
  