.user-detail {
    margin-left: 5px;
}

.user-info-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-detail {
    max-width: 50%;
    overflow-wrap: break-word;
}

@media (max-width: 600px) {
    .user-info-group {
        flex-direction: column;
        align-items: flex-start;
        white-space: normal;
    }

    .user-detail {
        max-width: 100%;
        margin-left: 0;
    }
}