<h2 mat-dialog-title class="text-center"><span class=" font-semibold text-cyan-950">Información Personal</span></h2>
<mat-dialog-content>
  <div class="md:p-4 p-0 rounded-sm md:shadow shadow-none my-2 w-fit md:text-base text-sm">
    <div class="user-info-group">
      <label class="font-semibold">Nombre de usuario:</label>
      <span class="user-detail">{{ user?.username + ' ' + user?.lastname }}</span>
    </div>
    <div class="user-info-group">
      <label class="font-semibold">Dirección:</label>
      <span class="user-detail">{{ user?.address }}</span>
    </div>
    <div class="user-info-group">
      <label class="font-semibold">Email:</label>
      <span class="user-detail">{{ user?.email }}</span>
    </div>
    <div class="user-info-group">
      <label class="font-semibold">Rol:</label>
      <span class="user-detail">{{ user?.role === 'ADMIN' ? 'Administrador'
        : user?.role === 'OWNER' ? 'Propietario' : '' }}</span>
    </div>
    <button (click)="resetPassword()" class="p-2 mt-4 rounded shadow-lg bg-sky-800 hover:bg-sky-900 w-full text-white font-medium text-sm">Cambiar Contraseña</button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>