@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { height: 100%; width: 100%; }
body { 
  position: relative;
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #ffffff;
}

/* Control de estados en forms */
.ng-valid:not(form).ng-touched {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form).ng-touched {
    border-left: 5px solid #a94442;
}