<section class="main-content flex flex-col mx-auto px-8 py-5 pt-28">
    <h1 class="text-2xl md:text-3xl font-bold text-cyan-700">Bienvenid{{welcomeChar}} a ResiRed: {{user?.username}}
    </h1>
    <p class="mb-4 text-cyan-600">La mejor plataforma de gestión de asambleas para tu conjunto residencial.</p>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-start">
        <!-- Panel de control de usuarios -->
        @if(user?.role === 'ADMIN'){
        <div class="bg-white shadow-md rounded-lg p-5">
            <h2 class="text-xl font-semibold text-cyan-800">Panel de Control de usuarios</h2>
            <mat-accordion class="my-accordion" matTooltip="Gestionar usuarios del conjunto residencial"
                matTooltipPosition="above">
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <p class="text-cyan-600 cursor-pointer truncate" mat-panel-title>Agrega visualiza y elimina
                            usuarios de ResiRed</p>
                    </mat-expansion-panel-header>

                    <!-- Contenido del panel expansible -->
                    <div class="flex flex-col truncate space-y-2">
                        <button (click)="openManageUsersDialog()"
                            class="bg-cyan-700 text-white text-base font-medium p-2 rounded-md hover:bg-cyan-900 shadow-lg">Gestionar
                            propietarios</button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        }
        @if(user?.role === 'ADMIN'){
        <!-- Herramientas adicionales -->
        <div class="md:col-span-2 min-h-full bg-white shadow-md rounded-lg p-5">
            <h2 class="text-xl font-semibold text-cyan-800">Herramientas</h2>

            <p class="text-cyan-600">Acceso rápido a herramientas útiles para la gestión.</p>

        </div>
        }
        <!-- Asambleas recientes -->

        <div class="bg-white shadow-md rounded-lg p-5">
            <h2 class="text-xl font-semibold text-cyan-800">Próxima Asamblea</h2>
            @if(upcomingAssembly?.isScheduled){
            <div class="gap-2">
              <p class="text-cyan-600"><strong>Título: </strong>{{ upcomingAssembly.title }}</p>
              <p class="text-cyan-600"><strong>Fecha: </strong>{{ upcomingAssembly.date }}</p>
              <p class="text-cyan-600"><strong>Hora de inicio: </strong>{{ upcomingAssembly.startTime }}</p>
              <button (click)="joinAssembly()" class="bg-cyan-700 text-white text-base font-medium p-2 rounded-md hover:bg-cyan-900 shadow-lg mt-4">Unirse a la Asamblea</button>
            </div>
        }

        @if(!upcomingAssembly?.isScheduled){<p class="text-cyan-600">No hay ninguna asamblea programada actualmente</p>}
          </div>
    </div>
</section>