<section class="admin-content flex flex-col mx-auto px-8 py-5 pt-28 w-full min-h-screen bg-gray-100">
    <div class="bg-gray-300 shadow-lg rounded-lg p-8 w-full max-w-2xl mx-auto">
        <h1 class="text-xl font-semibold text-gray-800 mb-2 text-center">Esperando para iniciar...</h1>
        <h2 class="text-lg font-semibold text-gray-600 mb-4 text-center">{{presentAssembly?.title}}</h2>
        <p class="text-gray-800 mb-4 text-center">Ha ingresado como: <span class="font-bold">{{ user?.role === 'ADMIN' ?
                'Administrador'
                : user?.role === 'OWNER' ? 'Propietario' : '' }}</span></p>
        <div class="space-y-4">
            @if (user?.role == 'ADMIN') {
            @if (accessCode) {
            <div class="text-center text-gray-800">
                Código de acceso: <span class="font-bold">{{ accessCode }}</span>
            </div>
            }

            <button (click)="generateAccessCode(presentAssembly?.assemblyId)"
                class="w-full bg-slate-700 text-white py-2 px-4 shadow-md font-medium rounded-lg hover:bg-slate-900 focus:outline-none">
                Generar código de acceso
            </button>

            <button (click)="cancelAssembly(presentAssembly?.assemblyId)"
                class="w-full bg-rose-700 text-white py-2 px-4 shadow-md font-medium rounded-lg hover:bg-rose-900 focus:outline-none">
                Cancelar asamblea
            </button>
            }

            @if (user?.role == 'OWNER') {
                <button (click)="joinAssembly()"
                    class="w-full bg-cyan-700 text-white py-2 px-4 shadow-md font-medium rounded-lg hover:bg-cyan-900 focus:outline-none">
                    Ingresar codigo de acceso
                </button>
            }

            @if (user?.role == 'ADMIN') {
            <button (click)="startAssembly(presentAssembly?.assemblyId)"
                class="w-full bg-cyan-700 text-white py-2 px-4 shadow-md font-medium rounded-lg hover:bg-cyan-900 focus:outline-none">
                Iniciar asamblea
            </button>
            }
        </div>
        <p class="mt-4 text-gray-600 text-center">
            <span class="font-bold">Recordatorio:</span> La asamblea no iniciará hasta que se cumpla el aforo mínimo de
            propietarios asistentes superior al 50%.
        </p>
    </div>
</section>